#contest-container {
    padding: 6rem 2rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background-image: url('../images/background_contest_vertical.png');
    background-position: center;
    background-size: cover;

    @media (min-width: 768px) {
        gap: 0rem;
        background-image: url('../images/background_contest_horizontal.png');
    }

    .container {
        flex-grow: 1;
        display: grid;
        grid: 250px auto / 1fr;
        gap: 1rem;
        max-width: 100%;
        height: 100%;

        @media (min-width: 768px) {
            grid: 1fr / 1fr 1fr;
            aspect-ratio: 2;
            max-height: 600px;
            margin: auto;
        }
    }

    .entry-list {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        width: 100%;
        margin: auto;
        transform-style: preserve-3d;
        perspective: 300px;
        perspective-origin: 50% 75%;

        @media (min-width: 768px) {
            aspect-ratio: 1;
            perspective-origin: 75% 60%;
        }
    }

    .entry {
        --deg: 45deg;
        --distance: 180px;
        border-radius: 8px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:
            // position to make sure the screen can contain the entries
            translateZ(-200px) // center the object
            translate(-50%, -50%) // rotate the object
            rotateY(var(--deg)) // move the object straight of the direction
            translateZ(var(--distance)) // rotate the object to face the forward
            rotateY(calc(-1 * var(--deg))) // rotate the object to face the prespective
            rotateY(atan((-1 * sin(var(--deg))) / (6 - cos(var(--deg)))));
        filter: blur(calc((1 - cos(var(--deg))) * 2px));
        transition: 1s;

        @media (min-width: 768px) {
            transform:
                // position to make sure the screen can contain the entries
                translateZ(-50px) translateX(5vw) // center the object
                translate(-50%, -40%) // rotate the object
                rotateY(var(--deg)) // move the object straight of the direction
                translateZ(var(--distance)) // rotate the object to face the forward
                rotateY(calc(-1 * var(--deg))) // rotate the object to face the prespective
                rotateY(atan((0.5 - sin(var(--deg))) / (12 - cos(var(--deg)))));
        }

        img {
            display: block;
            width: 200px;
            border-radius: 8px;
            box-shadow: 6px 8px 1rem #0003, 2px 3px .5rem #0005;
            opacity: calc((cos(var(--deg)) + 1.5) / 2.5);
            transition: 1s;
        }
    }

    .entry-info-container {
        width: 100%;
        margin: auto;

        @media (min-width: 768px) {
            display: flex;
            aspect-ratio: 1;
        }
    }

    .entry-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        aspect-ratio: 1;
        padding: 1rem;
        border-radius: 8px;
        background-image: radial-gradient(transparent 1px, white 1px), radial-gradient(#ffffff, #ffffff80);
        background-size: 4px 4px, auto;
        backdrop-filter: blur(1rem);

        @media (min-width: 992px) {
            aspect-ratio: 4/5;
            height: 100%;
            max-height: 500px;
            margin: auto;
        }
    }

    .entry-switch {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        grid: 1fr / auto 1fr auto;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;
            border: 0;
            border-radius: 4px;
            background: none;
            transition: .25s;
            color: #606266;

            &:hover {
                background-color: #00000008;
            }

            &:active {
                background-color: #00000010;
            }
        }
    }

    .entry-name,
    .entry-description {
        text-align: center;
        white-space: pre-wrap;
        line-height: 2rem;
        font-family: 'Noto Serif TC';
    }

    .entry-name {
        font-size: 1.2rem;
    }

    .entry-description-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    .entry-description {
        min-height: 100%;
    }

    .vote-button {
        height: 3rem;
        border: 1px solid #ffc00080;
        border-radius: 4px;
        background-color: #ffc00040;

        &:hover {
            background-color: #ffc00060;
        }

        &:active {
            background-color: #ffc00080;
        }

        .far, .fas {
            transition: .25s;
        }

        .fas {
            color: #f33;
            opacity: 0;
        }
        
        &.voted {
            .far {
                opacity: 0;
            }

            .fas {
                opacity: 1;
            }
        }
    }
}