
#events-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: #093c70;
    background-image: url(../images/background_events.svg), url(../images/302.png);
    background-repeat: no-repeat;
    background-position: center top, center center;
    background-size: cover;
    background-attachment: scroll, fixed;
    padding: 8rem 2rem 2rem;
    color: white;

    .title {
        opacity: .9;
        color: white;
    }
    
    .block {
        max-width: 100%;
        margin: auto;

        @media (min-width: 576px) {
            max-width: 400px;
        }

        @media (min-width: 768px) {
            max-width: 500px;
        }

        @media (min-width: 992px) {
            width: 100%;
            max-width: 100%;
        }
    }

    .calender-block {
        width: 100%;
    }

    .sculpture {
        max-width: 80%;
        padding: 2rem;
        margin: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(1) rotate(-5deg);
        animation-name: sculpture;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        transition: .5s;
        object-fit: contain;

        @media (min-width: 992px) {
            padding: .5rem;
            max-width: 100%;
        }

        &:hover {
            transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
        }

        @keyframes sculpture {
            0% {
                top: calc(50%);
            }
            
            100% {
                top: calc(50% - 2rem);
            }
        }
    }

    .calender {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: flex-end;
    }

    .calendar-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 1fr;
        width: 100%;
        gap: .5rem;
    }

    .calendar-header {
        grid-area: 1 / 1 / 3 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: .25rem;
        border: .5rem double white;
        font-size: 5vw;
        font-family: 'Noto Serif TC';

        @media (min-width: 576px) {
            font-size: 2rem;
        }

        @media (min-width: 992px) {
            font-size: 1.8vw;
        }
    }

    .calendar-span {
        grid-row: var(--row) / calc(var(--row) + 1);
        grid-column: 1 / calc(var(--span) + 1);
    }

    .calendar-date {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 1rem;
        font-family: 'Noto Serif TC';
        opacity: .5;
        transition: .25s;

        @media (min-width: 768px) {
            font-size: calc(.5rem + 1vw);
        }

        &:hover {
            opacity: .75;
        }

        &.has-detail {
            opacity: 1;
            cursor: pointer;
        }

        &.has-detail:hover {
            background-color: #fff2;
        }

        &.has-detail:active {
            background-color: #fff3;
        }
    }

    .event-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        line-height: 1.5rem;

        .event-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .event-title {
            font-size: 1.2rem;
        }

        .event-datetime {
            flex-grow: 1;
            text-align: right;
        }

        .event-content {
            font-size: .75rem;
            opacity: .75;
            text-align: justify;
        }
    
        .event-datail {
            white-space: pre-wrap;
            text-align: justify;
        }
    }
}

#events-container {
    .el-row {
        margin: auto;

        @media (min-width: 768px) {
            width: 720px;
        }
        
        @media (min-width: 992px) {
            width: 960px;
        }
        
        @media (min-width: 1200px) {
            width: 1120px;
        }
        
        @media (min-width: 1600px) {
            width: 1440px;
        }
    }

    .el-col {
        display: flex;
    }
}

.date-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 400px;
    padding: 1rem;
    font-size: 1rem;

    h1 {
        margin: 0 0 .5rem;
        font-size: 1.2rem;
        font-weight: 400;
    }

    small {
        font-size: .75rem;
        opacity: .75;
    }

    p {
        margin: 0;
    }
}