#top-container {
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        background-image: url(../images/background_top.svg);
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .center {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 500px;
        margin: auto;
        color: white;
        font-family: 'Noto Serif TC';
        text-align: center;
        filter: drop-shadow(3px 5px 1rem rgba(0, 0, 0, 0.5));
    }

    .logo {
        width: 100%;
    }

    .brand {
        font-size: calc(2rem + 1.5vw);
        font-weight: bolder;
        letter-spacing: .5rem;
    }

    .slogan {
        font-size: calc(1.25rem + 1vw);
        text-align-last: justify;
    }

    .banner-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        padding-bottom: 120px;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(#0002, #0002), var(--banner);
        background-position: center;
        background-size: cover;

        @media (min-width: 768px) {
            align-items: flex-start;
            padding-bottom: 100px;
        }

        h1,
        h2 {
            font-family: 'Noto Serif TC';
            font-weight: 500;
            margin: 0;
            color: white;
            filter: drop-shadow(3px 5px 1rem rgba(0, 0, 0, 0.5));
        }

        h1 {
            font-size: calc(1.25rem + 1vw);
        }

        h2 {
            font-size: calc(1rem + .5vw);
        }
    }
}

#top-container {
    .el-carousel__indicators {
        bottom: 80px;

        @media (min-width: 768px) {
            left: 0;
            bottom: 50px;
            margin: 1rem;
            transform: none;
        }
    }
}