@font-face {
  font-family: "Noto Sans TC";
  src: url("../webfonts/NotoSansTC.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 200;
  src: local("Noto Serif TC ExtraLight"), url("../webfonts/NotoSerifTC-ExtraLight.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 300;
  src: local("Noto Serif TC Light"), url("../webfonts/NotoSerifTC-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 400;
  src: local("Noto Serif TC Regular"), url("../webfonts/NotoSerifTC-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 500;
  src: local("Noto Serif TC Medium"), url("../webfonts/NotoSerifTC-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 600;
  src: local("Noto Serif TC SemiBold"), url("../webfonts/NotoSerifTC-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 700;
  src: local("Noto Serif TC Bold"), url("../webfonts/NotoSerifTC-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Noto Serif TC";
  font-weight: 900;
  src: local("Noto Serif TC Black"), url("../webfonts/NotoSerifTC-Black.otf") format("opentype");
}
:root {
  font-family: "Noto Sans TC";
}

*,
::after,
::before {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-blend-mode: color;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.375);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  color: #606266;
  --el-overlay-color-lighter: #0003;
}

section {
  min-height: 100vh;
  overflow: hidden;
}

button {
  transition: 0.25s;
}

a[name] {
  display: block;
  height: 100vh;
  min-height: 100%;
  position: absolute;
  top: calc(50% - 2rem);
  transform: translateY(-50%);
}

.el-dialog__header {
  margin-right: 0;
}

.el-form-item:last-child {
  margin-bottom: 0;
}

.el-pagination * {
  transition: 0.25s;
}

.el-dialog {
  width: max(500px, 30%);
  max-width: calc(100% - 2rem);
}

.el-dialog__header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.el-scrollbar__bar {
  z-index: 3000;
}

.title {
  text-align: center;
  font-family: "Noto Serif TC";
  color: #303133;
}
.title h1,
.title h2 {
  margin: 0;
}
.title h1 {
  font-size: calc(1.25rem + 1vw);
}
.title h2 {
  font-size: calc(1rem + 0.5vw);
}

.img {
  width: 100%;
  transition: 0.25s;
}
.img:hover {
  transform: scale(1.2);
}

#navbar {
  display: grid;
  grid: auto 0fr/auto auto;
  flex-wrap: wrap;
  position: fixed;
  padding: 0 1.5rem;
  background-color: #a62600;
  width: 100vw;
  transition: grid-template 0.5s;
  z-index: 2000;
}
@media (min-width: 768px) {
  #navbar {
    display: flex;
    align-items: center;
  }
}
#navbar:has(.navbar-toggler :checked) {
  grid: auto 1fr/auto auto;
}
#navbar .navbar-brand {
  justify-self: start;
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem;
  color: rgb(255, 243, 243);
  font-size: 1.5rem;
  font-family: "Noto Serif TC";
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: 0.1em;
  text-decoration: none;
}
#navbar .navbar-brand img {
  height: 3rem;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
}
#navbar .navbar-toggler {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 4px;
  background-color: none;
  margin: 18px 0;
  color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: 0.25s;
}
@media (min-width: 768px) {
  #navbar .navbar-toggler {
    display: none;
  }
}
#navbar .navbar-toggler:hover {
  opacity: 0.9;
  background-color: #8f2100;
}
#navbar .navbar-toggler:active {
  opacity: 1;
  background-color: #8f2100;
}
#navbar .navbar-collapse {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  grid-column: 2 span;
  justify-content: space-between;
  overflow: hidden;
}
@media (min-width: 768px) {
  #navbar .navbar-collapse {
    flex-direction: row;
  }
}
#navbar .navbar-nav {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0;
}
@media (min-width: 768px) {
  #navbar .navbar-nav {
    flex-direction: row;
    gap: 0.5rem;
  }
}
#navbar .nav-item {
  list-style: none;
}
#navbar .nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.25s;
}
#navbar .nav-link:hover {
  opacity: 0.9;
  background-color: rgba(143, 33, 0, 0.5019607843);
}
#navbar .nav-link:active {
  opacity: 1;
  background-color: #8f2100;
}

#top-container .container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-image: url(../images/background_top.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
#top-container .center {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
  margin: auto;
  color: white;
  font-family: "Noto Serif TC";
  text-align: center;
  filter: drop-shadow(3px 5px 1rem rgba(0, 0, 0, 0.5));
}
#top-container .logo {
  width: 100%;
}
#top-container .brand {
  font-size: calc(2rem + 1.5vw);
  font-weight: bolder;
  letter-spacing: 0.5rem;
}
#top-container .slogan {
  font-size: calc(1.25rem + 1vw);
  -moz-text-align-last: justify;
       text-align-last: justify;
}
#top-container .banner-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  padding-bottom: 120px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1333333333), rgba(0, 0, 0, 0.1333333333)), var(--banner);
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  #top-container .banner-item {
    align-items: flex-start;
    padding-bottom: 100px;
  }
}
#top-container .banner-item h1,
#top-container .banner-item h2 {
  font-family: "Noto Serif TC";
  font-weight: 500;
  margin: 0;
  color: white;
  filter: drop-shadow(3px 5px 1rem rgba(0, 0, 0, 0.5));
}
#top-container .banner-item h1 {
  font-size: calc(1.25rem + 1vw);
}
#top-container .banner-item h2 {
  font-size: calc(1rem + 0.5vw);
}

#top-container .el-carousel__indicators {
  bottom: 80px;
}
@media (min-width: 768px) {
  #top-container .el-carousel__indicators {
    left: 0;
    bottom: 50px;
    margin: 1rem;
    transform: none;
  }
}

#news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
#news-container .news-container {
  width: calc(100vw - 2rem);
  max-width: 720px;
  padding: 0.5rem 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}
#news-container .news-row {
  margin: 0 3rem;
  padding: 0.5rem 0;
}
#news-container .news-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#news-container .news-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 -2rem;
  padding: 0.75rem;
  border-radius: 4px;
  line-height: 1.5em;
  transition: 0.25s;
  cursor: pointer;
}
#news-container .news-item:hover {
  background-color: rgba(14, 84, 152, 0.062745098);
}
#news-container .news-item:active {
  background-color: rgba(14, 84, 152, 0.0941176471);
}
#news-container .news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news-container .news-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#news-container .el-pagination, #news-container .el-pager {
  gap: 0.5rem;
}

#events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #093c70;
  background-image: url(../images/background_events.svg), url(../images/302.png);
  background-repeat: no-repeat;
  background-position: center top, center center;
  background-size: cover;
  background-attachment: scroll, fixed;
  padding: 8rem 2rem 2rem;
  color: white;
}
#events-container .title {
  opacity: 0.9;
  color: white;
}
#events-container .block {
  max-width: 100%;
  margin: auto;
}
@media (min-width: 576px) {
  #events-container .block {
    max-width: 400px;
  }
}
@media (min-width: 768px) {
  #events-container .block {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  #events-container .block {
    width: 100%;
    max-width: 100%;
  }
}
#events-container .calender-block {
  width: 100%;
}
#events-container .sculpture {
  max-width: 80%;
  padding: 2rem;
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(-5deg);
  animation-name: sculpture;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transition: 0.5s;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 992px) {
  #events-container .sculpture {
    padding: 0.5rem;
    max-width: 100%;
  }
}
#events-container .sculpture:hover {
  transform: translate(-50%, -50%) scale(1.2) rotate(10deg);
}
@keyframes sculpture {
  0% {
    top: 50%;
  }
  100% {
    top: calc(50% - 2rem);
  }
}
#events-container .calender {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
#events-container .calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
  gap: 0.5rem;
}
#events-container .calendar-header {
  grid-area: 1/1/3/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.25rem;
  border: 0.5rem double white;
  font-size: 5vw;
  font-family: "Noto Serif TC";
}
@media (min-width: 576px) {
  #events-container .calendar-header {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #events-container .calendar-header {
    font-size: 1.8vw;
  }
}
#events-container .calendar-span {
  grid-row: var(--row)/calc(var(--row) + 1);
  grid-column: 1/calc(var(--span) + 1);
}
#events-container .calendar-date {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Noto Serif TC";
  opacity: 0.5;
  transition: 0.25s;
}
@media (min-width: 768px) {
  #events-container .calendar-date {
    font-size: calc(0.5rem + 1vw);
  }
}
#events-container .calendar-date:hover {
  opacity: 0.75;
}
#events-container .calendar-date.has-detail {
  opacity: 1;
  cursor: pointer;
}
#events-container .calendar-date.has-detail:hover {
  background-color: rgba(255, 255, 255, 0.1333333333);
}
#events-container .calendar-date.has-detail:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#events-container .event-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  line-height: 1.5rem;
}
#events-container .event-block .event-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#events-container .event-block .event-title {
  font-size: 1.2rem;
}
#events-container .event-block .event-datetime {
  flex-grow: 1;
  text-align: right;
}
#events-container .event-block .event-content {
  font-size: 0.75rem;
  opacity: 0.75;
  text-align: justify;
}
#events-container .event-block .event-datail {
  white-space: pre-wrap;
  text-align: justify;
}

#events-container .el-row {
  margin: auto;
}
@media (min-width: 768px) {
  #events-container .el-row {
    width: 720px;
  }
}
@media (min-width: 992px) {
  #events-container .el-row {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  #events-container .el-row {
    width: 1120px;
  }
}
@media (min-width: 1600px) {
  #events-container .el-row {
    width: 1440px;
  }
}
#events-container .el-col {
  display: flex;
}

.date-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  padding: 1rem;
  font-size: 1rem;
}
.date-info h1 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}
.date-info small {
  font-size: 0.75rem;
  opacity: 0.75;
}
.date-info p {
  margin: 0;
}

#contest-container {
  padding: 6rem 2rem 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-image: url("../images/background_contest_vertical.png");
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  #contest-container {
    gap: 0rem;
    background-image: url("../images/background_contest_horizontal.png");
  }
}
#contest-container .container {
  flex-grow: 1;
  display: grid;
  grid: 250px auto/1fr;
  gap: 1rem;
  max-width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  #contest-container .container {
    grid: 1fr/1fr 1fr;
    aspect-ratio: 2;
    max-height: 600px;
    margin: auto;
  }
}
#contest-container .entry-list {
  grid-area: 1/1/2/2;
  display: flex;
  width: 100%;
  margin: auto;
  transform-style: preserve-3d;
  perspective: 300px;
  perspective-origin: 50% 75%;
}
@media (min-width: 768px) {
  #contest-container .entry-list {
    aspect-ratio: 1;
    perspective-origin: 75% 60%;
  }
}
#contest-container .entry {
  --deg: 45deg;
  --distance: 180px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateZ(-200px) translate(-50%, -50%) rotateY(var(--deg)) translateZ(var(--distance)) rotateY(calc(-1 * var(--deg))) rotateY(atan(-1 * sin(var(--deg)) / (6 - cos(var(--deg)))));
  filter: blur(calc((1 - cos(var(--deg))) * 2px));
  transition: 1s;
}
@media (min-width: 768px) {
  #contest-container .entry {
    transform: translateZ(-50px) translateX(5vw) translate(-50%, -40%) rotateY(var(--deg)) translateZ(var(--distance)) rotateY(calc(-1 * var(--deg))) rotateY(atan((0.5 - sin(var(--deg))) / (12 - cos(var(--deg)))));
  }
}
#contest-container .entry img {
  display: block;
  width: 200px;
  border-radius: 8px;
  box-shadow: 6px 8px 1rem rgba(0, 0, 0, 0.2), 2px 3px 0.5rem rgba(0, 0, 0, 0.3333333333);
  opacity: calc((cos(var(--deg)) + 1.5) / 2.5);
  transition: 1s;
}
#contest-container .entry-info-container {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  #contest-container .entry-info-container {
    display: flex;
    aspect-ratio: 1;
  }
}
#contest-container .entry-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  aspect-ratio: 1;
  padding: 1rem;
  border-radius: 8px;
  background-image: radial-gradient(transparent 1px, white 1px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.5019607843));
  background-size: 4px 4px, auto;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
@media (min-width: 992px) {
  #contest-container .entry-info {
    aspect-ratio: 4/5;
    height: 100%;
    max-height: 500px;
    margin: auto;
  }
}
#contest-container .entry-switch {
  grid-area: 1/1/2/2;
  display: grid;
  grid: 1fr/auto 1fr auto;
  align-items: center;
}
#contest-container .entry-switch button {
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 4px;
  background: none;
  transition: 0.25s;
  color: #606266;
}
#contest-container .entry-switch button:hover {
  background-color: rgba(0, 0, 0, 0.031372549);
}
#contest-container .entry-switch button:active {
  background-color: rgba(0, 0, 0, 0.062745098);
}
#contest-container .entry-name,
#contest-container .entry-description {
  text-align: center;
  white-space: pre-wrap;
  line-height: 2rem;
  font-family: "Noto Serif TC";
}
#contest-container .entry-name {
  font-size: 1.2rem;
}
#contest-container .entry-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}
#contest-container .entry-description {
  min-height: 100%;
}
#contest-container .vote-button {
  height: 3rem;
  border: 1px solid rgba(255, 192, 0, 0.5019607843);
  border-radius: 4px;
  background-color: rgba(255, 192, 0, 0.2509803922);
}
#contest-container .vote-button:hover {
  background-color: rgba(255, 192, 0, 0.3764705882);
}
#contest-container .vote-button:active {
  background-color: rgba(255, 192, 0, 0.5019607843);
}
#contest-container .vote-button .far, #contest-container .vote-button .fas {
  transition: 0.25s;
}
#contest-container .vote-button .fas {
  color: #f33;
  opacity: 0;
}
#contest-container .vote-button.voted .far {
  opacity: 0;
}
#contest-container .vote-button.voted .fas {
  opacity: 1;
}

#sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 1rem 1rem;
  background-image: url("../images/background_sign-up.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  #sign-up-container {
    padding: 6rem 2rem 2rem;
  }
}
#sign-up-container .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  #sign-up-container .container {
    display: grid;
    grid: 1fr/1fr 1fr;
    max-height: calc(100vh - 8rem);
  }
}
#sign-up-container .block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.5) 1px, #fff 2px), radial-gradient(#ffffff, rgba(255, 255, 255, 0.5019607843));
  background-size: 4px 4px;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
}
@media (min-width: 768px) {
  #sign-up-container .block {
    aspect-ratio: 5/7;
    max-height: calc(100vh - 8rem);
    margin: 0 auto;
  }
  #sign-up-container .block .title span {
    font-size: 0.9em;
  }
}
#sign-up-container .segment {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
#sign-up-container .segment h3 {
  font-family: "Noto Serif TC";
  width: 100%;
  margin: 0;
}
#sign-up-container .segment form,
#sign-up-container .segment p {
  flex-grow: 1;
  width: 0;
  margin: 0;
  text-align: justify;
}
#sign-up-container .segment button {
  background: #a62600;
  color: white;
  border: 0;
}

#information {
  background: #100f0e;
}
#information h1 {
  margin: 0;
}

.search-row {
  margin: 0 3rem;
  padding: 0.5rem 0;
}
.search-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.search-item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 -2rem;
  padding: 0.75rem;
  border-radius: 4px;
  line-height: 1.5em;
  transition: 0.25s;
  cursor: pointer;
}
.search-item:hover {
  background-color: rgba(14, 84, 152, 0.062745098);
}
.search-item:active {
  background-color: rgba(14, 84, 152, 0.0941176471);
}

.search-header,
.search-keywords {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-keywords {
  font-size: 0.75rem;
  opacity: 0.75;
}

#chat-toggler {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: #a62600;
  color: white;
  font-size: 1.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat {
  width: 300px;
  height: 400px;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 5.5rem;
  right: 0rem;
  transform: translateX(calc(100% + 1rem));
  transition: right 0.5s, transform 0.5s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#chat.visible {
  right: 1rem;
  transform: translateX(0);
}
#chat .chat-header {
  background-color: #a62600;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}
#chat .chat-message-list {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#chat .chat-message {
  max-width: 80%;
}
#chat .chat-message.user {
  align-self: flex-end;
  color: #a62600;
}
#chat .chat-footer {
  display: flex;
  background-color: #ddd;
  padding: 0.5rem;
}
#chat .chat-footer input {
  flex-grow: 1;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}
#chat .chat-footer button {
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: #a62600;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */